.category{
    /* display: flex; */
    height: fit-content;
    color: rgba(15, 15, 15, 0.85);
    margin: 5px 0px;
    padding: 1px 0px;
    display: border-box;
    align-content: flex-start;
    border-radius: 10px 10px 10px 10px;
}
.category h1{
    text-align:center;
    margin: 0px;
    padding: 5px 0px;
    display: border-box;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
  }
.category .mini_info{
    display: flex;
    flex-wrap:wrap;
    margin: 10px auto 0px auto;
    padding: 0;
    text-align: left;
    font-size: 80%;
    color:rgb(150, 150, 150);
}
.category .mini_info_item_box{
    display: flex;
    flex-wrap:wrap;
    margin: 5px 10px;
    padding: 0px;
    text-align: left;
    align-items: center;
    font-size: 100%;
}
.category .logo{
    display: flex;
    align-items: center;
    width:20px;
    margin:2px;
    height:auto;
}

@media screen and (max-width:1200px) {
    .category{
        /* display: flex; */
        height: fit-content;
        width: 100%;
        color:white;
        margin: 5px 0px;
        padding: 1px 0px;
        display: border-box;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        border-radius: 10px 10px 10px 10px;
    }

  }
