body{
  background-color:rgb(250, 250, 250);
}
h1 {
    color: rgba(15, 15, 15, 0.85);
    font-size: 200%;
}
h2 {
  color: rgba(15, 15, 15, 0.85);
  font-size: 150%;
}
h3 {
  color: rgba(15, 15, 15, 0.85);
  font-size: 125%;
}
p {
    color: rgba(15, 15, 15, 0.85);
    font-size: 100%;
}
pre{
  background-color: black;
  height:fit-content;
  width:auto;
  color:white;
  padding:10px;
  border-radius: 5px 5px 5px 5px;
}
a {
  text-decoration:none; 
}
.mini-info{
  display: flex;
  flex-wrap:wrap;
  margin: 10px auto 0px auto;
  padding: 0;
  text-align: left;
  font-size: 80%;
  color:rgb(150, 150, 150);
}
 .mini-info .mini-info-item-box{
  display: flex;
  flex-wrap:wrap;
  margin: 5px 10px;
  padding: 0;
  text-align: left;
  align-items: center;
  font-size: 100%;
}
 .logo{
  display: flex;
  align-items: center;
  width:20px;
  margin:2px;
  height:auto;
}

  .main{
    display:flex;
    width: 100%;
    flex-flow: column;
    min-height: 1000px;
    /* height: fit-content; */
    /* background: rgba(242, 240, 240, 0.541); */
    margin : 0px auto;
    padding:10px 0px;
}
.main .contents {
    display: flex;
    /* align-items:stretch;  */
    flex-wrap:wrap;
    width: 100%;
    height:fit-content;
    margin: 0px auto;
    padding: 0px 0px;
    border-radius: 10px 10px 10px 10px;
}
.main .contents .title{
  display: border-box;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
    border-radius: 10px 10px 10px 10px;
}
.main .contents .body{
  display: border-box;
  width: 85%;
  margin: 10px auto 10px auto;
  padding: 10px 30px;
  background-color: white;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
} 
 .main .contents .body h2{
    display: border-box;
    padding: 10px 0;
    margin-bottom: 1px;
    background-image: linear-gradient(109.6deg, rgb(45, 86, 179) 11.2%, rgb(62, 72, 97) 91.1%);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: bottom;
    color: rgba(15, 15, 15, 0.85);
    font-weight: bold;
}
.main .pagetitle{
  text-align:center;
  width:100%;
}
 .postdate{
    display: border-box;
    width: 100%;
    max-width:1500px;
    margin: 0px auto 0px auto;
    padding: 10px 20px;
    text-align:  right; 
    border-radius: 10px 10px 10px 10px;
}
.listTitle{
  text-align:center;
  margin: 0px;
  padding: 5px 0px;
  display: border-box;
  width: 100%;
  /* height: fit-content; */
  /* background-color: rgb(200, 200, 200);
  border-radius: 10px 10px 10px 10px; */
}
.box{
  display: grid;
  height:fit-content;
  grid-template-columns:1fr;
}
.article{
  display: block;
  display: border-box;
  width: 98%;
  margin: 5px auto 5px auto;
  padding: 0px 0px;
  background-color: white;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  border:solid 1px rgb(210, 210, 210);
}
.article .image {
  display: flex;
  vertical-align: middle;
  width: auto; /*画像サイズ指定*/
  max-width:100%;
  height:auto;
  justify-content: center;
  align-items: center;
}

.article .right {
  width: auto;
  margin: 0 0 0 0px;
  padding: 0;
  
}
.article .pagetitle{
  text-align: left;
  width: 90%;
  margin: 8px auto;
  padding: 0px;
}
.article .text {
  width: 90%;
  display: border-box;
  margin: 0px auto;
  padding: 0px;
}

.main .sidebar{
  display: border-box;
  width: 100%;
  margin: 0px auto;
  padding: 0px 0px;
  border-radius: 10px 10px 10px 10px;
}
@media screen and (min-width:500px) {
  .main{
    display:flex;
    width: 100%;
    /* height: fit-content; */
    /* background: rgba(242, 240, 240, 0.541); */
    margin : 0px auto;
    padding:10px 0px;
}
.box{
  display: grid;
  height:fit-content;
  grid-template-columns:1fr 1fr;
}
}
@media screen and (min-width:900px) {
  .main{
    display:flex;
    width: 100%;
    /* height: fit-content; */
    /* background: rgba(242, 240, 240, 0.541); */
    margin : 0px auto;
    padding:10px 0px;
}
.main .contents {
  display: flex;
  /* align-items:stretch;  */
  max-width: 1296px;
  margin: 0px auto;
  padding: 0px 0px;
  border-radius: 10px 10px 10px 10px;
}
.box{
  display: grid;
  height:fit-content;
  grid-template-columns:1fr 1fr 1fr;
}
}
@media screen and (min-width:1200px) {
  .main{
    display:flex;
    flex-flow: row;
    max-width: 1615px;
    /* height: fit-content; */
    /* background: rgba(242, 240, 240, 0.541); */
    margin : 0px auto;
    padding:10px 0px;
}
  .main .contents {
    /* align-items:stretch;  */
    width: 80%;
    margin: 0px auto;
    padding: 0px 0px;
    border-radius: 10px 10px 10px 10px;
}
  .main .sidebar{
    display: border-box;
    width: 300px;
    margin: 0px 0px;
    padding: 0px 0px;
    border-radius: 10px 10px 10px 10px;
  }
}