
h1 {
    color: rgba(15, 15, 15, 0.85);
    font-size: 200%;
}
h2 {
  color: rgba(15, 15, 15, 0.85);
  font-size: 150%;
}
h3 {
  color: rgba(15, 15, 15, 0.85);
  font-size: 125%;
}
p {
    color: rgba(15, 15, 15, 0.85);
    font-size: 120%;
}
pre{
  background-color: black;
  height:fit-content;
  width:auto;
  color:white;
  padding:10px;
  border-radius: 5px 5px 5px 5px;
}


.main{
    display: flex;
    min-height: 1000px;
    background: rgba(242, 240, 240, 0.541);
    padding :50px;
}
.main .contents {
    display: border-box;
    width: max(800px,30%);
    margin: 0px 50px 0px auto;
    padding: 0px 50px;
    border-radius: 10px 10px 10px 10px;
}
.main .contents .title{
    display: border-box;
    width: 100%;
    margin: 10px auto 10px auto;
    padding: 10px 20px;
    border-radius: 10px 10px 10px 10px;
}
.main .contents .body{
    display: border-box;
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
} 
 .main .contents .body h2{
    display: border-box;
    padding: 0.8rem 0;
    margin-bottom: 0.2rem;
    background-image: linear-gradient(109.6deg, rgb(45, 86, 179) 11.2%, rgb(62, 72, 97) 91.1%);
    background-repeat: no-repeat;
    background-size: 100% 8px;
    background-position: bottom;
    color: rgba(15, 15, 15, 0.85);
    font-weight: bold;
}
 .postdate{
    display: border-box;
    width: 100%;
    max-width:1500px;
    margin: 0px auto 0px auto;
    padding: 10px 20px;
    text-align:  right; 
    border-radius: 10px 10px 10px 10px;
}
 .listTitle{
  text-align:center;
  width: 100%;
  margin: 10px auto 10px auto;
  padding: 10px 0px;
  display: border-box;
  background: rgba(0, 0, 0, 0.189);
  border-radius: 10px 10px 10px 10px;
}
 .article{
  display: flex;
  display: border-box;
  width: 90%;
  margin: 10px auto 10px auto;
  padding: 10px 30px;
  /* border-top: solid 1px;
  border-bottom: solid 1px; */
  background-color: white;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
}
 .article .image {
  display: border-box;
  vertical-align: middle;
  width: 12vmax; /*画像サイズ指定*/
  max-width:100%;
  height:auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  
}
 .article .right {
  display: border-box;
  width: auto;
  margin: 0 0 0 20px;
  padding: 0;
}
 .article .pagetitle {
    display: border-box;
  margin: 8px 0px;
  padding: 0;
  font-weight: bold;
}
 .article .text {
  display: border-box;
  margin: 0px auto;
  padding: 0;
}

 .article .date{
  display: border-box;
  margin: 5px auto;
  padding: 0;
  font-weight: bold;
  text-align: right;
}

.main .sidebar{
    display: border-box;
    width:350px;
    height: 900px;
    border-radius: 10px 10px 10px 10px;
    margin: 0px auto 0px 20px;
    padding: 5px 30px;
}

@media screen and (max-width:1200px) {
  .main{
    display:flex;
    width: 100%;
    flex-flow: column;
    min-height: 1000px;
    background: rgba(242, 240, 240, 0.541);
    margin : 0px 0px;
    padding:50px 0px;
}
.main .contents {
    display: border-box;
    width: 70%;
    margin: 0px auto;
    padding: 0px 0px;
    border-radius: 10px 10px 10px 10px;
}
.main .contents .title{
  display: border-box;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
    border-radius: 10px 10px 10px 10px;
}
.main .contents .body{
  display: border-box;
  width: 85%;
  margin: 10px auto 10px auto;
  padding: 10px 30px;
  background-color: white;
  align-items: center;
  border-radius: 10px 10px 10px 10px;

} 
 .main .contents .body h2{
    display: border-box;
    padding: 0.8rem 0;
    margin-bottom: 0.2rem;
    background-image: linear-gradient(109.6deg, rgb(45, 86, 179) 11.2%, rgb(62, 72, 97) 91.1%);
    background-repeat: no-repeat;
    background-size: 100% 8px;
    background-position: bottom;
    color: rgba(15, 15, 15, 0.85);
    font-weight: bold;
}
 .postdate{
    display: border-box;
    width: 100%;
    max-width:1500px;
    margin: 0px auto 0px auto;
    padding: 10px 20px;
    text-align:  right; 
    border-radius: 10px 10px 10px 10px;
}
 .listTitle{
  text-align:center;
  width: 100%;
  margin: 10px auto 10px auto;
  padding: 10px 0px;
  display: border-box;
  background: rgba(0, 0, 0, 0.189);
  border-radius: 10px 10px 10px 10px;
}
 .article{
  /* display: flex; */
  display: border-box;
  width: 85%;
  margin: 10px auto 10px auto;
  padding: 10px 30px;
  background-color: white;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
}
 .article .image {
  display: border-box;
  /* vertical-align: middle; */
  max-width:100%;
  height:auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  
}
 .article .right {
  display: border-box;
  width: auto;
  margin: 0 0 0 20px;
  padding: 0;
}
 .article .pagetitle {
  width: 90%;
  display: border-box;
  margin: 8px 0px;
  padding: 0;
  font-weight: bold;
}
 .article .text {
  display: border-box;
  margin: 0px auto;
  padding: 0;
}

 .article .date{
  display: border-box;
  margin: 5px auto;
  padding: 0;
  font-weight: bold;
  text-align: right;
}

.main .sidebar{
  display: border-box;
  width: 70%;
  margin: 0px auto;
  padding: 0px 0px;
  border-radius: 10px 10px 10px 10px;

}
}
@media screen and (max-width:640px) {
  h1 {
  color: rgba(15, 15, 15, 0.85);
  font-size: 140%;
  }
  h2 {
  color: rgba(15, 15, 15, 0.85);
  font-size: 105%;
  }
  h3 {
  color: rgba(15, 15, 15, 0.85);
  font-size: 88%;
  }
p {
    color: rgba(15, 15, 15, 0.85);
    font-size: 70%;
}
  .main{
    display:flex;
    width: 100%;
    flex-flow: column;
    height: fit-content;
    background: rgba(242, 240, 240, 0.541);
    margin : 0px 0px;
    padding:50px 0px;
}
.main .contents {
    display: border-box;
    width: 80%;
    margin: 0px auto;
    padding: 0px 0px;
    border-radius: 10px 10px 10px 10px;
}
.main .contents .title{
  display: border-box;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
    border-radius: 10px 10px 10px 10px;
}
.main .contents .body{
  display: border-box;
  width: 85%;
  margin: 10px auto 10px auto;
  padding: 10px 30px;
  background-color: white;
  align-items: center;
  border-radius: 10px 10px 10px 10px;

} 
 .main .contents .body h2{
    display: border-box;
    padding: 0.8rem 0;
    margin-bottom: 0.2rem;
    background-image: linear-gradient(109.6deg, rgb(45, 86, 179) 11.2%, rgb(62, 72, 97) 91.1%);
    background-repeat: no-repeat;
    background-size: 100% 8px;
    background-position: bottom;
    color: rgba(15, 15, 15, 0.85);
    font-weight: bold;
}
 .postdate{
    display: border-box;
    width: 100%;
    max-width:1500px;
    margin: 0px auto 0px auto;
    padding: 10px 20px;
    text-align:  right; 
    border-radius: 10px 10px 10px 10px;
}
.ListTitle{
  text-align:center;
  margin: 0px;
  padding: 5px 0px;
  display: border-box;
  width: 100%;
  background-color: rgb(200, 200, 200);
  border-radius: 10px 10px 10px 10px;
}

.article{
  display: block;
  display: border-box;
  width: 95%;
  height: fit-content;
  margin: 10px auto 10px auto;
  padding: 10px 0px;
  background-color: white;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
}
.article .frame {
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: relative;
}

.article .right {
  width: auto;
  margin: 0 0 0 0px;
  padding: 0;
  
}
.article .pagetitle{
  width: 90%;
  margin: 8px auto;
  padding: 0px;
  font-weight: bold;
  font-size: 105%;
}
.article .text {
  width: 90%;
  display: border-box;
  margin: 0px auto;
  padding: 0px;
}
 .article .date{
  display: border-box;
  margin: 5px 10px;
  padding: 0;
  font-weight: bold;
  text-align: right;
}

.main .sidebar{
  display: border-box;
  width: 80%;
  margin: 0px auto;
  padding: 0px 0px;
  border-radius: 10px 10px 10px 10px;

}
}