.header{
    margin: 0px 0px; 
    display: flex;
    height: fit-content;
    width: auto;
    font-size: 20px;
    justify-content: left;
    align-items: left;
    border-bottom: solid 1px;
    border-bottom-color: rgb(210, 210, 210);
    /* background-color: rgb(210, 210, 210); */
}
.header .blogtitle{
    display: border-box;
    display: block;
    /* padding: 5px 50px; */
    padding:10px;
    max-width:180px;
    height:auto;
    font-size: 20px;
    text-align:center;
} 

