.listTitle{
  text-align:center;
  margin: 0px;
  padding: 5px 0px;
  display: border-box;
  width: 100%;
}
.box{
  display: grid;
  grid-template-columns:1fr;
}
.article{
  display: flex;
  display: border-box;
  width: 98%;
  height: fit-content;
  align-items:stretch;
  margin: 5px auto 5px auto;
  padding: 10px 0px;
  background-color: white;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  border:solid 1px rgb(210, 210, 210);
}
.article .frame {
  vertical-align: middle;
  margin: 0px 0px 0px 5px;
  padding: 0px 0px 0px 5px;
  overflow: hidden;
  position: relative;
}

.article .right {
  width: auto;
  margin: 0 0 0 0px;
  padding: 0;
}
.article .title{
  margin: 8px auto;
  padding: 0px;
  font-weight: bold;
  font-size: 105%;
}

@media screen and (min-width:815px) {
  .listTitle{
    text-align:center;
    margin: 0px;
    padding: 5px 0px;
    display: border-box;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
  }
  
  .article{
    height:150px;
    display: flex;
    display: border-box;
    width: 100%;
    margin: 5px 0px;
    padding: 0px 0px;
    /* border-top: solid 1px; */
    /* border-bottom: solid 1px; */
    background-color: white;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
  }
  .article .frame {
    vertical-align: middle;
    width: 150px; /*画像サイズ指定*/
    min-width: 150px;
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px 5px;
    overflow: hidden;
    position: relative;
  }
  
  .article .right {
    width: 100%;
    margin: 0 0 0 0px;
    padding: 0;
  }
  .article .title{
    margin: 8px 0px;
    padding: 0;
    font-weight: bold;
  }
}
