.tag{
    /* display: flex; */
    height:300px;
    color:white;
    background-color: white;
    padding: 1px 0px;
    display: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 10px 10px 10px 10px;
}
.tag h1{
    text-align:center;
    margin: 0px;
    padding: 5px 0px;
    display: border-box;
    width: 100%;
    background: rgba(0, 0, 0, 0.189);
    border-radius: 10px 10px 10px 10px;
  }
.tag ul{
    display: table;
    margin: 5px 5px;
    padding: 5px 5px;
    width: auto;
    height:25px;
    text-align: center;
}
.tag li{
    display: table-cell;
    min-width: 50px;
    width :auto;
    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 10px 0px 0px 0px;
    text-align: center;
}
.tag a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
}

.tag li:hover{
    color: rgba(0, 0, 0, 0.541);
    background-color: rgba(0, 0, 0, 0.189);
}

